*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
}
img {
    width: 100%;
    height: auto;
  }

body{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #704E2E;
    background-image: url("images/1426875.jpg");
}

.quiz-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width:800px;
    max-width: 80%;
    background-color: #709176;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn {
    border :2px solid;
    background-color: #F7F0F0;
    border-radius: 5px;
    padding: 5px 10px;
    color: #704E2E;
    outline: none;
}

.btn:hover {
    border-color: red;
}

.start-btn , .next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;

}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}
